<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
</head>
<body>
  <form id="send-container">
      Field: Tweet
      <br>
      OPERATOR:
   Equals: <input type="text" id="message-input">
   Contains: <input type="text" id="message-input">

   AND
    <button type="submit" id="send-button">Send</button>
  </form>
  <div id="tweets-container"></div>

</body>
<script>
console.log('hjbjvgh')
</script>
<script  src="script.js"></script>

</html>
